

.mobile-menu-icon {
    cursor: pointer;
    color: #000; /* Couleur du texte pour le test, ajustez selon vos besoins */
    font-size: 24px; /* Taille de la police pour le test, ajustez selon vos besoins */
  }
  

.logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width:20%; /* ajustez la taille selon vos besoins */
    height: 70%;
    margin-right: 10px;
    /* Ajoutez d'autres styles nécessaires */
  }
/* Vos autres styles */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px 15px;
    z-index: 99;
  }
  
  
  
  /* Styles pour grand écran */
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar>div {
    position: relative;
    font-size: 20px;
    color: black;
    margin-left: 30px;
    padding: 5px;
  }
  
  /* Vos autres styles pour le menu mobile */
  .mobile-menu-icon {
    display: none; /* Masquer par défaut sur grand écran */
  }
  .mobile-menu-open {
    text-align: center;

  }
 
  
  .mobile-menu-open>div {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #bacff7;
  }
  .mobile-menu-open>div:hover{
    background-color: lightblue;
  }
  /* Afficher le menu mobile uniquement sur les écrans plus petits */
  @media (max-width: 768px) {
    .navbar {
      display: none; /* Cacher le menu sur grand écran */
    }
  
    .mobile-menu-icon {
      display: block; /* Afficher le bouton du menu mobile sur petit écran */
      cursor: pointer;
    }
  }
  