.order-cards-container{
 width: 55%;
 background-color: #f5f5f5;
 border: 1px solid #ccc;
 border-radius: 5px;
 padding: 10px;
 margin: 10px;
 color: black;
 height: 75vh;
}

.order-cards{
 height: 65vh;
 overflow-y:auto;
 scrollbar-width:thin;

}

.order-cards::-webkit-scrollbar {
 width: 5px; 

}

.order-cards::-webkit-scrollbar-thumb {
  background-color:#8F2113; /* Couleur du bouton */
  border-radius: 10px; /* Bord arrondi */
  margin-left: 5px;
 }

.order-card{
 display: flex;
 flex-direction: column;
}

.order-card {
 border: 1px solid #ddd;
 border-radius: 5px;
 padding: 20px;
 margin-bottom: 20px;
}

.order-card > div {
 margin-bottom: 5px;
}

.order-card > div:last-child {
 margin-bottom: 0;
}

.order-card > div > div {
 display: inline-block;
 margin-right: 10px;
}

.order-card .Status-select {
 width: 200px;
 margin-top: 10px;
}

.order-card .Status-select__control {
 border-radius: 5px;
 border-color: #ddd;
}

.order-card .Status-select__value-container {
 font-size: 14px;
}

.order-card .Status-select__single-value {
 color: #555;
}

.order-card .Status-select__indicator-separator {
 display: none;
}

.order-card .Status-select__dropdown-indicator {
 color: #555;
}

.order-card .Status-select__menu {
 font-size: 14px;
 border-radius: 5px;
 border-color: #ddd;
}

.order-card .Status-select__option {
 font-size: 14px;
}


.order-card-detail-up{
 display: flex;
 flex-direction: column;
 >div{
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
 }

 .icon{
  color: #8F2113;
  margin-bottom: 5px;
 }

}

.order-card-detail-down{
 color: #8F2113;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-start;
 .icon{
  color: #8F2113;
  margin-right: 5px;
 }
 .clickable:hover{
  font-weight: normal;
 }

 
}