.passwordreset-mail{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-bottom: 5%;
 font-size: 1.2em;
}

.passwordreset-token{
 display: flex;
 flex-direction: column;
 padding: 3%;
 width: 50%;
 color: white;
 text-align:justify;
 font-size: 1.3em;
 
 border: 2px solid rgba(255,255,255,.5);
 background-color: transparent;
 border-radius: 20px;
 backdrop-filter: blur(60px);
 box-shadow: 0 0 30px rgba(0,0,0,.5);
 div{
  margin-bottom: 2%;
 }

 .clickable{
  align-self: flex-end;
 }
}