.personal-data{
font-size: 18px;
 border-radius: 5px;
 padding: 10px;
 margin: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 align-self: center;
 width: 80%;

 .boutons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }

 .signup-form-containers{
  width: 100%;
  display: flex;
  flex-direction: row;
 }

 .labels{
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  label{
    height: 30px;
    padding: 8px;
    margin-bottom: 16px;

  }
 }
 .inputs{
  width: 50%;
  display: flex;
  flex-direction: column;
  input{
    height: 30px;
  }
  .signup-checkbox-fields{
    padding: 10px;
  }
 }
 

}

.personal-data-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;


  min-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  background-color: whitesmoke;
  margin: 1em;
    
  >div{
    margin-bottom: 5px;
  }
}