/* Style général du conteneur du formulaire */
.login-container {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    width: 50em;
    margin: auto; /* Utilisation de la marge auto pour centrer horizontalement */
    margin-top: 25vh; /* Réglez cette valeur en fonction de l'espace que vous souhaitez en haut */
    text-align: center;
    background-color: whitesmoke;
}
  
  /* Le reste de votre style reste inchangé */
  .label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .notif-error {
    display: flex;
    align-items: center;
    background-color: #ffe3e3;
    color: #cc0000;
    padding: 10px;
    border: 1px solid #cc0000;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .error-icon {
    margin-right: 8px;
  }
  
  .clickable {
    color: #007bff;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .create-account {
    color: #007bff;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .submit-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  