body, html{
    background-color: #f0f0f0;
}
.bg{
    background-color: #f0f0f0;

    height: 100%;
}
.carte{
    border: 1px solid white;
    width : 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin: 1em;
    background-color: whitesmoke;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box-shadow for a subtle shadow effect */

}
.bulle {
    background-color: rgba(247, 92, 165);
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: -4px; /* Adjust the negative margin */
    margin-bottom: -16px;
}
  
.carte:hover{
    background-color: rgb(236, 236, 236);
}
.couleur{
    background-color: blue;
    width: 5px;
    left: 0;
    overflow: hidden;
    border-radius: 10px;
}
.contourLabel{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:justify;
    width: 90%;
}

button.del .material-symbols-outlined {
    font-size: 18px;
    color: gray;
    background-color: transparent; /* Set background to transparent */
    border: none;
    text-decoration: none;
    margin-right: 15px;
  }
button.del {
background-color: transparent; /* Set background to transparent */
border: none;
padding: 1px; /* Remove padding to eliminate extra spacing */
}

.centrer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}