h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    width: 100%;
    margin: 3vh;
}
.contenant{
    display: flex;
    width: 80%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: white;
}

