.Admin{
  display: flex;
  flex-direction: column;
 
  width: 100%;

  h2{
    margin-bottom: 10px;
    margin-top: 20px;
  }
  h2:first-child{
    margin-top: 0px;
  }
  
}
.Admin-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  width: 80%;

  .festivals{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: start;
    .card{
      width: 30%;
      margin-right: 20px;
    }
  }

  .boutons{
    display: flex;
    justify-content: end;
  }
  .bouton2{
    display: flex;
    align-self: right;
  }
}