@import 'pages/client/all_client';
@import 'pages/admin/all_admin';
@import 'pages/common/all_common';
@import 'components/all_components';

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:'Perpetua', sans-serif;
}


.site-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background-size: cover;
 background-position: center;
 overflow-y:auto;
 color: #fff;
 img{
  max-height: 60vh;
 }
}

.site-container::before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.icon{
 font-size: 1.5em;
 color: #fff;
}

.error-icon{
 margin-right: 10px;
}

.notif-error{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 color: #8F2113;
}

.notif-succes{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: green;
 }

input:focus {
 outline: none;
 //color: #fff;
}

input[type=number]:valid,
input[type=date]:valid {
  color: #8F2113;
}

.background-transparent{
  padding: 3%;
  color: white;
  text-align:center;
  font-size: 1.3em;
  font-weight: bold;
  border: 2px solid rgba(255,255,255,.5);
  background-color: transparent;
  border-radius: 20px;
  backdrop-filter: blur(60px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
 }

.button {
  padding: 10px;
  background-color: #FDB41D;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  .button{
    font-size: 0.8em;
  }
}


.cursor {
  cursor: pointer; 
}

.bold{
  font-weight: bold;
}

.bouton2{
  color: white;
  margin : 10px;
  border: none;
  width: 250px;
  height : 40px;
  background-color: #4caf50;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 3px solid #45a049;
}

.bouton2:hover{
  background-color: #45a049;
}


.notif-succes {
  display: flex;
  align-items: center;
  background-color: #9dabe2;
  color: #002663;
  padding: 10px;
  border: 1px solid #002663;
  border-radius: 4px;
  margin-bottom: 16px;
}

.succes-icons {
  margin-right: 8px;
}
 